{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title> {% block head_title %} Blog {% endblock head_title %} </title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel ="stylesheet" href='{% static "css/base.css" %}' />
	{% block head_extra %}  {% endblock head_extra %}
</head>
<body>
{% include "messages_display.html" %}
<div class="container">
	<ol class='breadcrumb'>
		<li class="breadcrumb-item"><a href='{% url "posts:list" %}'>Home</a></li>
		{% block post_detail_link %}
		{% endblock %}

		{% if not request.user.is_authenticated %}
		<li class='breadcrumb-item float-right'><a href='{% url "register" %}'>Register</a></li>
		<li class='breadcrumb-item float-right'><a href='{% url "login" %}'>Login</a></li>
		{% else %}
		<li class='breadcrumb-item float-right'><a href='{% url "logout" %}'>Logout</a></li>
		{% endif %}
	</ol>
{% block content %}{% endblock content %}
</div>	

<script  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.6.2/marked.min.js"></script>

<script type="text/javascript">
$(document).ready(function(){
	$(".content-markdown").each(function(){
		var content = $(this).text()
		var markedContent = marked(content)
		$(this).html(markedContent)
	})

	var contentInput = $("#id_content");
	/*$("#preview-content").html(marked(contentItem.val()))*/

	function setContent(value){
		var markedContent = marked(value)
		$("#preview-content").html(markedContent)
		/*$("#preview-content img").each(function){
			$(this).addClass("img-responsive")*/
	}
	setContent(contentInput.val())

	contentInput.keyup(function(){
		var newContent = $(this).val();
		setContent(newContent)
	})

	var titleInput = $("#id_title");

	function setTitle(value) {
		$("#preview-title").text(value)
	}
	setTitle(titleInput.val())

	titleInput.keyup(function(){
		var newContent = $(this).val();
		setTitle(newContent)
	})

	$(".comment-reply-btn").click(function(event){
		event.preventDefault();
		$(this).parent().next(".comment-reply").fadeToggle();
	})
})	
	
</script>
</body>
</html>